
<ul class="list-unstyled team-members">
  <li id="current_item">
    <div class="row">
      <div class="col-xs-3">
          <small><%=line_item.quantity.to_i %></small>
      </div>
      <div class="col-xs-4">
        <small>
          <%=line_item.stock_name%><br>

        </small>
      </div>
      <div class="col-xs-2 text-right">

      </div>
      <div class="col-xs-2">
        <%=link_to line_item_path(line_item), method: :delete, data: {confirm: 'Are you sure?'}, class: ' pull-right' do %>
          <span class='text-danger' title="Remove Item" data-toggle='tooltip'><i class="fa fa-times-circle-o fa-2x"></i></span>
        <% end %>
      </div>
    </div>
    <hr>
  </li>
</ul>
