<div class="tab-pane" id='farms'>
  Farm Details
  <span class="pull-right"><%= link_to 'New Farm', new_client_farm_path(@client), class: "btn btn-primary btn-flat" %></span>
  <hr>
  <% @client.farms.each do |farm| %>
    <div class="row">
      <div class="col-md-4">
        Area: <%= farm.area %> Hectare
      </div>
      <div class="col-md-2">
        <%#= farm.suitable %>
      </div>
    </div>

  <% end %>
</div>
